@import './base.css';

#app {
  max-width: 1400px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background-color: inherit;
  border: none;
  cursor: pointer;
}
.btn-secondary{
    background-color:var(--primary-color-extra-light);

}

.btn-primary{
  background-color:var(--primary-color-dark);
  color: white;
}

nav{
  display: flex;
  gap: 10px;
  
}

.title{
  font-size: 18px;
  font-weight: 700;
}

::-webkit-scrollbar {
  height: 13px;
  width: 13px;
}
::-webkit-scrollbar-thumb {
  background: var(--secondary-color); 
  border-radius: 10px;
}

form{
  display: inline-flex;
  flex-direction: column;
}
label{
  width: 230px;
}
input{
  width: 230px;
  padding: 13px;
  border-radius: 5px;
  border:none
}
.checkLable{
  display: flex;
  align-items: center;
  width: 100px;
}
.btn-form{
  padding: 9px;
  border-radius: 5px;
  margin-top: 10px;
  font-weight: 600;
}
.formContainer{
  position: absolute;
  top: 20%;
  left: 40%;
  min-width: 20%;
  background-color: var(--primary-color-extra-light);
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 1px 1px 6px rgb(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  z-index: 3;
  gap: 9px;
}