@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}
a{
  text-decoration: none;
  color: inherit;
}
button{
  background-color: inherit;
  border: none;
  cursor: pointer;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
}
.btn-secondary{
    background-color:var(--primary-color-extra-light);

}

.btn-primary{
  background-color:var(--primary-color-dark);
  color: white;
}

nav{
  display: flex;
  gap: 10px;
  
}

.title{
  font-size: 18px;
  font-weight: 700;
}

::-webkit-scrollbar {
  height: 19px;
}
::-webkit-scrollbar-thumb {
  background: var(--primary-color-dark); 
  border-radius: 10px;
}